@import url('./fonts.css');
@import url('./base.css');

/* header */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 24px 0;
}

.header__nav{
  display: flex;
}

.header__link{
  font-family: 'Montserrat-Bold';
  margin:0 20px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  position: relative;
  white-space: nowrap;
}
.link-active{
  color: #E51937;
}

.link-active::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 24px;
  background:linear-gradient(-45deg, transparent 1px, #E51937 0)right, linear-gradient(45deg, transparent 1px, #E51937 0)left;
  background-size: 60% 100%;
  background-repeat: no-repeat;
}

.header__link:hover{
  color: #E51937;
}

.header__link:hover.header__link::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 24px;
  background:linear-gradient(-45deg, transparent 1px, #E51937 0)right, linear-gradient(45deg, transparent 1px, #E51937 0)left;
  background-size: 60% 100%;
  background-repeat: no-repeat;
}

.header__menu{
  display: flex;
  align-items: center;
}

.burger{
  width: 24px;
  height: 2px;
  background:linear-gradient(-45deg, transparent 1px, #E51937 0)right, linear-gradient(45deg, transparent 1px, #E51937 0)left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.burger::after,
.burger::before{
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background:linear-gradient(-45deg, transparent 1px, #E51937 0)right, linear-gradient(45deg, transparent 1px, #E51937 0)left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.burger::after{
  top: 7px;
}

.burger::before{
  bottom: 7px;
}

/* section - preview */

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview{
  background: url(/img/tesla__background.png) no-repeat;
  background-size: 100%;
  background-position-y: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
}

.preview__title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 58px;
}

.preview__text{
  font-family: 'Montserrat-Bold';
  font-size: 90px;
}

.preview__subtext{
  font-size: 15px;
  font-weight: 500;
}

.preview__car{
  display: flex;
  justify-content: center;
  margin-top: 26px;
}

.car__img{
  width: 69%;
  height: 100%;
}

.preview__spec{
  display: flex;
  margin-top: 26px;
}

.feature{
  display: flex;
}

.feature__item{
  display: flex;
  align-items: center;
  margin-right: 81px;
}

.feature__indicators{
  display: flex;
  flex-direction: column;
}

.feature__index{
  font-family: 'Montserrat-Bold';
}

.speed-icon{
  width: 54px;
  height: 43px;
}

.road-icon{
  width: 41px;
  height: 58px;
}

.feature__bold{
  font-weight: 600;
  font-size: 35px;
}

.feature__text{
  font-weight: 600;
  font-size: 20px;
}

.feature__substring{
  font-size: 12px;
}

.testdrive{
  display: flex;
  align-items: center;
}

.testdrive__img{
  margin-right: 7px;
}

.testdrive__span{
  font-family: 'Montserrat-Bold';
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 40px;
  margin-left: 30px;
  position: relative;
}

.testdrive__span::before{
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: -30px;
  top: -2px;
  background: url("../img/steering-wheel.svg") center no-repeat;
}

.btn{
  font-family: 'Montserrat-Bold';
  font-size: 13px;
  text-transform: uppercase;
  color: #E51937;
  border: 2px solid #E51937;
  width: 160px;
  height: 40px;
  padding: 0;
}

.btn:hover{
  color: white;
  background: #E51937;
}

.preview__arrow{
  margin: 37px 0;
}

/* tablet resolution */

@media (max-width: 768px) {
  .header__link{
    display: none;
  }

  .preview{
    background-position-y: 27%;
  }

  .preview__spec{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
  }

  .preview__car{
    margin-top: 87px;
  }

  .car__img{
    width: 90%;
  }

  .feature{
    margin-bottom: 55px;
  }

  .feature__item{
    margin: 0 45px;
  }

  .speed-icon{
    width: 66px;
    height: 49px;
  }

  .road-icon{
    width: 44px;
    height: 72px;
  }

  .feature__indicators{
    margin-left: 20px;
  }

  .feature__bold{
    font-size: 50px;
  }

  .testdrive{
    margin-left: 35px;
  }

  .testdrive__span{
    color: #E51937;
    font-weight: bold;
    font-size: 16px;
    margin-right: 35px;
    margin-left: 0;
  }

  .testdrive__span::before{
    content: "";
    position: absolute;
    width: 31px;
    height: 31px;
    left: -35px;
    top: -6px;
    background: url("../img/steering-wheel-red.svg") center no-repeat;
  }

  .btn{
    width: 220px;
    height: 55px;
    color: white;
    background: #E51937;
    font-size: 16px;
  }

  .preview__arrow{
    margin-top: 64px;
  }
}

/* phone resolution */

@media (max-width: 480px) {
  .header{
    margin: 5px 21px 0 2px;
  }

  .preview{
    max-width: 375px;
    background-position-y: 27%;
  }

  .preview__title{
    margin-top: 30px;
  }

  .preview__text{
    font-size: 50px;
  }

  .preview__subtext{
    font-size: 10px;
  }

  .preview__car{
    margin-top: 49px;
  }

  .feature{
    margin-bottom: 43px;
  }

  .feature__item{
    margin: 0;
  }

  .feature__item-left{
    margin-right: 51px;
  }
  
  .speed-icon{
    width: 38px;
    height: 28px;
  }

  .road-icon{
    width: 25px;
    height: 41px;
  }

  .feature__indicators{
    margin-left: 13px;
  }

  .feature__bold{
    font-size: 27px;
    margin-right: 5px;
  }

  .feature__text{
    font-size: 15px;
  }

  .feature__substring{
    font-size: 10px;
  }

  .testdrive{
    margin-left: 25px;
  }

  .testdrive__span{
    font-size: 13px;
    margin-right: 25px;
  }

  .testdrive__span::before{
    width: 22px;
    height: 22px;
    left: -28px;
    top: -2px;
    background: url(../img/steering-wheel-small-red.svg) center no-repeat;
  }

  .btn{
    width: 160px;
    height: 40px;
    font-size: 13px;
  }

  .preview__arrow{
    margin: 34px 0;
  }
}

/* extra desctopre resolution */

@media (max-width: 960px){
  .header__link{
    margin: 0 7px;
  }
}